$stats-height: 100px;
$stat-width: 125px;
$canvas-border: 50px;

body {
  position: absolute;
  top: 0;
  bottom:0;
  right: 0;
  left: 0;
}

#main-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: $stats-height;

  .graph-container {
    bottom: $canvas-border;
    left: $canvas-border;
    right: $canvas-border;
    top: $canvas-border;
    position: absolute;

    canvas {
      border: 1px solid black;
      height: 100%;
      width: 100%;
    }
  }
}

.stats {
  height: $stats-height;
  .stat-group {
    display: inline-block;
    width: $stat-width;

    input {
      display: inline;
      width: 100%;
    }
  }
}
